#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

#login-dp .help-block {
    font-size:12px    
}

#login-dp .bottom {
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

@media(max-width:768px) {
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom {
        background-color: inherit;
        border-top:0 none;
    }
}

body {
    padding: 70px 0 0 0;
    background: #F1F3FA;
}

.sidebar {
    padding: 10px 0 10px 0;
    background: #fff;
}

.sidemenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.sidemenu ul li:last-child {
    border-bottom: none;
}

.sidemenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.sidemenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.sidemenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.sidemenu ul li.active {
    border-bottom: none;
}

.sidemenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

.content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
}

.thumbnail-pad {
    padding-bottom:30px;
}

.thumbnail {
    padding:0px;
}
.comment {
    position:relative;
}

.ticked:after,.ticked:before {
    position:absolute;
    top:11px;left:-16px;
    right:100%;
    width:0;
    height:0;
    display:block;
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
}

.ticked:after {
    border-width:7px;
    border-right-color:#f7f7f7;
    margin-top:1px;
    margin-left:2px;
}

.ticked:before {
    border-right-color:#ddd;
    border-width:8px;
}

.panel-body.ticked:after {
    border-right-color:#fff;
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

[role="icon"] {
    cursor: default;
}

.commentbox, .commentbox:active {
    border: none;
    overflow: auto;
    outline: none;
    box-shadow: none;
    resize: none;
}
